*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
section{
	background-image:url("images/back.jpg");
	/* opacity:0.8; */
    background-blend-mode:overlay;
	background-position:center;
	background-color:#5c5c5c;
	background-attachment:fixed;
}
.container{
	width:90%;
	padding:0 15px;
	margin-top:20px;
}
.row{
	display:flex;
	/* flex-wrap:wrap; */
}
h1{
	color:white;
}
.col{
	width:50%;
	padding:0 15px;
}
.content p{
	padding:20px;
	color:white;
}
h1{
	padding-top:30px;
	padding-bottom:10px;
}
i{
	padding:15px;
	/* font-size:18px; */
	color:orange;
}
.col1{
	width:50%;
	padding:0 15px;
}
.image{
	 margin:5% auto;
	position:relative;
	overflow:hidden;
}
img{
	width:100%;
	transition:all 0.5s ease-in;
	}
img:hover {
	transform:scale(1.1);
}
.image::after{
	content:"";
  position:absolute;
  border-left:10px solid orange;
  border-top:10px solid orange;
  height:60px;
  width:60px;
  top:10px;
  left:10px;
  z-index:1; 
}
.image::before{
	content:"";
  position:absolute;
  border-bottom:10px solid orange;
  border-right:10px solid orange;
  height:60px;
  width:60px;
  bottom:10px;
  right:10px;
  z-index:1;
  
}
.image:hover::after{
	top:3px;
   left:3px;
   transform:scale(1);
	transition:all 0.4s ease-in;
}
.image:hover::before{
	bottom:3px;
   right:3px;
   transform:scale(1);
	transition:all 0.4s ease-in;
}
